
<div class="container">
  <div class="row mb-3">
    <div class="col-8">
      <p class="display-6"> Listado de Paises</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 ">
      <form [formGroup]="form" (ngSubmit)="onSearch()" autocomplete="off">
        <div>
          <div class="col-6 mb-3 d-flex align-items-start">
            <div>
              <label  class="form-label">Buscar por Nombre:</label>
              <input type="text" class="form-control" formControlName="searchInput">
            </div>

            <button type="submit" class="btn btn-secondary ml-2" style="height: 60%;margin-top:30px">Buscar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-light">
        <thead>
          <tr>
            <th scope="col">Pais</th>
            <th scope="col">Población</th>
            <th scope="col">Porcentaje</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of list">
            <td >{{item.nombre}}</td>
            <td >{{item.poblacion}}</td>
            <td >{{item.porcentaje}}</td>
          </tr>
          <tr *ngIf="!list ||list?.length == 0">
            <td colspan="5" class="text-center" > No se encontraron resultados</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
